name: ratatui

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-fail-fast
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-fail-fast --no-default-features --features crossterm
      - name: Examples
        run: cargo build --all-targets --examples
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --lib -- -Dwarnings
